/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

@layer utilities {
    @responsive {
        .cols-1 {
            column-count: 1;
        }

        .cols-2 {
            column-count: 2;
        }

        .cols-3 {
            column-count: 3;
        }
    }
}

@font-face {
    font-family: 'Inter';
    src: url("/fonts/inter-regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url("/fonts/inter-semibold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url("/fonts/inter-bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url("/fonts/inter-black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
}

html {
    @apply font-body;

    font-size: 16px;
}

* {
    @apply break-words;
}

p {
    @apply mb-5;
}

.h1 {
    @apply text-5xl font-black leading-tight;
}

.h2 {
    @apply text-4xl font-black mb-5 mt-10;
}

.h3 {
    @apply text-3xl font-black mb-5 mt-10;
}

.h4 {
    @apply text-lg font-black;
}
