/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

/* purgecss start ignore */
@font-face {
    font-family: 'Inter';
    src: url("/fonts/inter-semibold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url("/fonts/inter-regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url("/fonts/inter-bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url("/fonts/inter-black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
}
/* purgecss end ignore */

html {
    @apply font-body;

    font-size: 16px;
}

* {
    @apply break-words;
}

p {
    @apply mb-5;
}

.h2 {
    @apply text-5xl font-black mb-8 leading-tight;
}

.h3 {
    @apply font-black text-3xl mb-3;
}

.h4 {
    @apply text-3xl font-semibold;
}

.card {
    @apply rounded-4xl overflow-hidden;
}

.light-card {
    @apply card bg-gray-200 text-black;
}

.dark-card {
    @apply card bg-gray-800 text-white;
}

.flex-card {
    @apply flex flex-wrap items-center;
}

@screen sm {
    .h2 {
        @apply text-6xl;
    }

    h4 {
        @apply text-4xl;
    }
}

@screen lg {
    .flex-card {
        @apply flex-no-wrap;
    }
}
